@page "/"

<PageTitle>ATC Demo</PageTitle>

<div>
    <h4 class="mb-4">Purpose</h4>
    Experimental code demonstration for displaying and searching <a
        href="https://www.who.int/tools/atc-ddd-toolkit/atc-classification">ATC classifications</a>
</div>
<br  />
<div>
    <h4 class="mb-4">Credits</h4>
    <ul>
        <li>
            Inspired by Steve Sanderson's <a href="https://github.com/SteveSandersonMS/BlazeOrbital.git">Blazor Demo</a>
            at <a href="https://youtu.be/Rn8psTi8FBk">NDC Oslo</a> 🙇‍
        </li>
        <li>
            National Center for Biomedical Ontology for the
            <a href="https://bioportal.bioontology.org/ontologies/ATC?p=summary">ATC classifications</a>
        </li>
        <li>
            <a href="https://github.com/rosslovas">Ross Lovas</a> for the idea of using a static class around C# record
            types
         </li>
    </ul>
</div>
<br />
<div>
    <h4 class="mb-4">Technologies</h4>
    <ul>
        <li>gRPC + WebAPI</li>
        <li>Blazor WebAssembly + PWA</li>
        <li>SQLite in browser [W.I.P]</li>
    </ul>
</div>
