@page "/"

<PageTitle>ATC Demo</PageTitle>

<div>
    <h4 class="mb-4">Purpose</h4>
    Experimental code demonstration for displaying and searching <a
        href="https://www.who.int/tools/atc-ddd-toolkit/atc-classification">ATC classifications</a>
</div>
<br/>
<div>
    <h4 class="mb-4">Credits</h4>
    Inspired by Steve Sanderson's <a href="https://github.com/SteveSandersonMS/BlazeOrbital.git">Blazor Demo</a> at <a
        href="https://youtu.be/Rn8psTi8FBk">NDC Oslo</a> 🙇‍
</div>
<br/>
<div>
    <h4 class="mb-4">Technologies</h4>
    <ul>
        <li>gRPC + WebAPI</li>
        <li>SQLite in browser</li>
        <li>Blazor WebAssembly + PWA</li>
    </ul>
</div>
