@page "/webApi"
@using AtcDemo.Shared
@inject HttpClient Http

<PageTitle>ATC Records via WebAPI</PageTitle>

<h4 class="mb-4">ATC Records via WebAPI</h4>

<p>Loads all ATC records via
    <a href="https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-6.0">WebAPI</a>
    in a single call from a SQLite database stored on the server</p>

@if (chemicals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-end">Daily Defined Dose</th>
                <th scope="col">Administration Route</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chemical in chemicals)
            {
                <tr>
                    <td>@chemical.Code</td>
                    <td>@chemical.Name</td>
                    <td class="text-end">@string.Join(" / ", chemical.Doses.Select(d => d.DailyDefinedDose))</td>
                    <td >@string.Join(" / ", chemical.Doses.Select(d => d.AdministrationRoute))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Atc.Chemical[]? chemicals;

    protected override async Task OnInitializedAsync()
    {
        chemicals = await Http.GetFromJsonAsync<Atc.Chemical[]>("Atc");
    }
}
