@page "/WebApiTable"
@using AtcDemo.Shared
@inject HttpClient Http

<PageTitle>ATC classifications via WebAPI (Table)</PageTitle>

<h4 class="mb-4">ATC classifications via WebAPI</h4>

@if (classifications == null)
{
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-end">Defined Daily Dose</th>
                <th scope="col">Administration Route</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classification in classifications)
            {
                <tr>
                    <td>@classification.Code</td>
                    <td>@classification.Name</td>
                    <td class="text-end">@string.Join(" / ", classification.Doses.Select(d => d.DefinedDailyDose))</td>
                    <td >@string.Join(" / ", classification.Doses.Select(d => d.AdministrationRoute))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Atc.Classification[]? classifications;

    protected override async Task OnInitializedAsync()
    {
        classifications = await Http.GetFromJsonAsync<Atc.Classification[]>("Atc");
    }
}
